<br/><br/>
    <div style="position: absolute; padding: 3px; border: 0px solid #484848; border-radius:3px; left: 0px; top: 230px; width:100%;">
         <p align='center'>
                <div id="LoadingImage" align="center" style="display: none">
                     <!--  <img src="img/InternetSlowdown_Day.gif" />-->
                    <img src="./img/loading_small.gif" />
                </div>
         </p>
    </div>
    <div id="content">
        <input type="hidden" id="version_params" class="test_class" name="version_params"/>
          <table class="grid_table" border=0>
             <colgroup>
                 <col style="width: 150px; height=50px;">
                 <col style="width: 120px; height=50px;">
                 <col style="width: 60px; height=50px;">
                 <col style="width: 30px;  height=50px;">
                 <col style="width: 200px;  height=50px;">
                 <col style="width: 150px;  height=50px;">
                 <col style="width: 200px;  height=50px;">
                 <col style="width: 12%;   height=50px;">
                 <col style="width: 90px;  height=50px;">
                 <col style="width: 90px;  height=50px;">
            </colgroup>
           
            <tbody>
                <tr height=80px; bgColor='white'>
                     <td align='left' colspan='6'>
                         &nbsp;<label id='cluster_health_alert'></label> Elasticsearch cluster status is <label id='status'></label>. <a href="javascript:alert('more');" id="unassigned_alert_message"></a>&nbsp;
                         <br/>
                         &nbsp;<label id='current_time'></label>
                     </td>
                    <td colspan='4' align="left"><label id="loading" /></td>
                </tr>
                <tr height=20px; bgColor='white'>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
          <table class="grid_table" border=0>
            <colgroup>
                 <col style="width: 150px; height: 50px;">
                 <col style="width: 120px; height: 50px;">
                 <col style="width: 60px; height: 50px;">
                 <col style="width: 30px;  height: 50px;">
                 <col style="width: 200px;  height: 50px;">
                 <col style="width: 150px;  height: 50px;">
                 <col style="width: 200px;  height: 50px;">
                 <col style="width: 12%;   height: 50px;">
                 <col style="width: 90px;  height: 50px;">
                 <col style="width: 90px;  height: 50px;">
            </colgroup>
            <thead>
                <tr height=50px;">
                        <th><img src="./img/icon-elasticsearch-bb.svg" width="30%">Elastic</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Health: <label id='cluster_health'></label></th>
                </tr>
            </thead>
            <tbody>
                <tr height=150px;" bgColor='white'>
                    <td align='center' valign='top'><br/><a href="#">Overview</a><br/>Version: <label id="elastic_version" /><br/>Uptime: <label id="elastic_uptime" /></td>
                    <th></th>
                    <th></th>
                    <th></th>
                    <td align='center' valign='top'><br/>test</td>
                    <th></th>
                    <td align='center' valign='top'><br/>test</td>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>